<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!-- Để trống User/Password, sẽ gán runtime khi login -->
		<add name="NGANHANG"
		connectionString="Data Source=.\SQLSERVER1;Initial Catalog=NGANHANG;
                           User ID=admin_nh;Password=Admin@123;
                           TrustServerCertificate=True" />

		<!-- Chi nhánh Bến Thành -->
		<add name="BENTHANH"
			 connectionString="Data Source=.\SQLSERVER1;Initial Catalog=NGANHANG_BENTHANH;
                           User ID=chinhanh_bt;Password=CN@123;
                           TrustServerCertificate=True" />

		<!-- Chi nhánh Tân Định -->
		<add name="TANDINH"
			 connectionString="Data Source=.\SQLSERVER1;Initial Catalog=NGANHANG_TANDINH;
                           User ID=chinhanh_td;Password=CN@123;
                           TrustServerCertificate=True" />
	</connectionStrings>  
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
